*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

:root {
  --dark-blue: #0a0a23;
  --grey: rgb(66, 66, 66);
  --red-button: rgb(183, 15, 15);
  --red-button-hover: rgb(215, 53, 53);
}

body {
  background-color: var(--dark-blue);
  color: white;
  font-family: 'Poppins', 'Segoe UI', 'Roboto', 'Helvetica', 'Arial', sans-serif;

}

main {
  width: 90%;
  margin: 30px auto;
}

.titre-exercice {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titre-exercice img {
  width: 15rem;
  padding: 10px;
  margin-bottom: 10px;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  padding: 10px;
  margin-bottom: 20px;
}

h2 {
  padding: 10px;
  margin-bottom: 5px;
  font-size: 1rem;
  font-weight: normal;
}

.input-div {
  margin: auto;
  max-width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  color: var(--dark-blue);
}

input {
  border: none;
  border-bottom: 2px solid var(--dark-blue);
  margin: 0 5px;
}

.text-area {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

button {
  border-radius: 10px;
  background-color: var(--red-button);
  color: white;
  font-size: 1.05rem;
  padding: 2px 5px;
  margin-left: 5px;
}

button:hover {
  background-color: var(--red-button-hover);
  color: white;
}

.explain {
  max-width: 450px;
  min-height: 100px;
  margin: 20px auto;
  padding: 20px 10px ;
  text-align: center;
  background-color: var(--grey);
  border-radius: 5px;
}

#result {
  padding: 10px;
}

@media (max-width: 500px) {
  .text-area {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
